<div id="all-form" class="container">

    <div class="form-row align-items-center">
        <div class="col-4">
            <select class="custom-select">
                <option value="1" selected>By sales quantities</option>
                <option value="2">By sales amount</option>
            </select>
        </div>
        <div class="col-4">
            <input type="text" class="form-control" value='{{period}}' id="input2" placeholder="Enter Reporting Period">
        </div>
        <button type="submit" class="btn btn-outline-info" onclick="analyze()">Analyze</button>
        <div class="col-2">
            <div id="periodBox" class="alert alert-success" role="alert">
                {{# if period}}
                    Last {{period}} days
                {{else}}
                    Last 30 days
                {{/if}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-12">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Sales Quantity</th>
                    <th>Brand</th>
                    <th>Smart phone</th>
                </tr>
                </thead>

                <tbody>
                {{# each analysisResult}}
                    <tr>
                        <th scope="row">{{this.sp_id}}</th>
                        <td>{{this.total}}</td>
                        <td>{{this.brand}}</td>
                        <td>{{this.name}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

